{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container-sm my-4 vh-100">
    <div class="row border rounded border-5 p-3">
        <div class="col align-self-center mb-4">
            <p class="fs-2 fw-bold">Contact Us</p>
            <p class="fs-4">
                <i class="far fa-envelope"></i> <span class="fw-bold text-break">jhonrhayparreno22@gmail.com</span>
            </p>
            <p class="fs-4">
                <i class="far fa-address-card"></i> <span class="fw-bold text-break">(+63) 932 1764 095</span>
            </p>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_6VfTTj.json"  background="#0D6EFD"  speed="1"  
                class="activity-lottie" hover loop  autoplay></lottie-player>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}